
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>About</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="/assets/css/main.css" rel="stylesheet" />
    <!-- responsive -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>
<body>
    <!-- featured section -->
    <div class="feature-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="featured-text">
                        <h2 class="pb-3">Book Shop<span class="orange-text" style="color: #4bb6b7;"> KimNganNguyen</span></h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                                <div class="list-box d-flex">
                                    <div class="list-icon">
                                        <i class="fas fa-shipping-fast" style="color: #4bb6b7;"></i>
                                    </div>
                                    <div class="content">
                                        <h3>Giao hàng nhanh</h3>
                                        <p>Chúng tôi mang đến sự tiện lợi cho bạn với dịch vụ giao hàng tận nơi, giúp bạn tiết kiệm thời gian và công sức.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                                <div class="list-box d-flex">
                                    <div class="list-icon">
                                        <i class="fas fa-money-bill-alt" style="color: #4bb6b7;"></i>
                                    </div>
                                    <div class="content">
                                        <h3>Giá cả hợp lý</h3>
                                        <p>Với mức giá cạnh tranh và hợp lý, chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng nhất.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                                <div class="list-box d-flex">
                                    <div class="list-icon">
                                        <i class="fas fa-briefcase" style="color: #4bb6b7;"></i>
                                    </div>
                                    <div class="content">
                                        <h3>Phản hồi nhanh</h3>
                                        <p>Chúng tôi luôn trân trọng và coi trọng ý kiến của khách hàng. Mọi phản hồi của bạn sẽ được chúng tôi xem xét kỹ lưỡng và sử dụng để cải thiện chất lượng dịch vụ. Hãy chia sẻ suy nghĩ của bạn, chúng tôi luôn lắng nghe!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="list-box d-flex">
                                    <div class="list-icon">
                                        <i class="fas fa-sync-alt" style="color: #4bb6b7;"></i>
                                    </div>
                                    <div class="content">
                                        <h3>Bảo hành</h3>
                                        <p>Chúng tôi luôn lắng nghe và tôn trọng quyền lợi của khách hàng với chính sách hoàn tiền nhanh chóng và minh bạch.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end featured section -->


    <!-- tổng hợp sách hay -->
    <div class="product_collection_icon_menu">
        <div class="product_collection_icon_header">
            <div class="product_collection_icon_img">
                <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/category/ico_sachtrongnuoc.svg" />
            </div>
            <div class="product_collection_icon_title">Lịch sử</div>
        </div>
    </div>
    <div class="product_collection_container">
        <div class="product_collection_container_img">
             <img src="https://avnuc.vn/wp-content/uploads/2021/08/Tep_CHVHD000-1.gif"/>
        </div>
        <div class="product_collection_container_content">
            <p style="text-align: center">
                Chào mừng bạn đến với Website của chúng tôi - nơi mà tri thức trở thành sức mạnh!
                Website của chúng tôi được tạo ra như một cầu nối giữa bạn và thế giới kiến thức tiên tiến, cập nhật. Dù bạn đang tìm kiếm thông tin cho một dự án cá nhân, 
                muốn mở rộng kiến thức về một lĩnh vực cụ thể, hoặc chỉ đơn giản là tò mò và khám phá, website của chúng tôi sẽ là điểm đến tuyệt vời.
                Đặc trưng của chúng tôi là sự đa dạng về nội dung. Từ khoa học, công nghệ, văn hóa, giáo dục, đến lối sống, giải trí,... tất cả đều được đóng gói thành những bài viết, 
                hình ảnh và video thực sự thú vị và hữu ích.
                Hãy tham gia cùng chúng tôi ngay hôm nay và trải nghiệm không gian thông tin tươi mới, chất lượng!
            </p>

        </div>
    </div>

    <!-- tổng hợp sách hay -->



      <script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.2/libs/oversea/index.js"></script>
      <script>
          new CozeWebSDK.WebChatClient({
            config: {
              bot_id: '7374479172644765713',
            },
            componentProps: {
              title: 'Coze',
            },
          });
      </script>
    
    
    <!-- jquery -->
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>

</body>
</html>